@model Insurance.Data.Models.Content
@{
    ViewData["Title"] = "Rental Contents Management";

    var categories = ViewBag.Categories as List<Insurance.Web.Models.ContentCategoryListModel>;
}

<h2>Renter Contents</h2>

@if (categories.Any())
{
    <form asp-action="DeleteContent" id="RemoveContentForm">
        <input type="hidden" id="RemoveContent_ContentId" name="contentId" />

        <table>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.CategoryName  </td>
                    <td> &nbsp;</td>
                    <td align="right">@string.Format("{0:C0}", category.ContentTotal)</td>
                </tr>
                <table>
                    @foreach (var content in category.Contents.Where(c => c.ContentCategoryId == category.Id))
                    {
                        <tr style="background-color:lightblue">
                            <td width="100"></td>
                            <td width="200">@content.ContentName</td>
                            <td width="100">@string.Format("{0:C0}", content.Value)</td>
                            <td align="right"><button class="btn btn-danger remove-content" type="button" onclick="removeContent(@content.Id)">Remove</button></td>
                        </tr>
                    }
                </table>
            }
            <tr></tr>
            <tr>
                <td> TOTAL </td>
                <td> &nbsp;</td>
                <td> @string.Format("{0:C0}", categories.Sum(s => s.ContentTotal))</td>
            </tr>
        </table>
    </form>

    <form asp-action="AddContent">
        <table>
            <tr>
                <td><input asp-for="ContentName" id="txtItemName" title="Enter Item Name" class="form-control" /></td>
                <td width="95"><input asp-for="Value" title="Value" class="form-control" /></td>
                <td>
                    <select asp-for="ContentCategoryId" class="form-control" asp-items="@(new SelectList(categories, "Id", "CategoryName"))"></select>
                </td>
                <td align="right"><button class="btn btn-primary add-content buttonadd" id="btn-addContent" type="submit">Add</button></td>

            </tr>
        </table>
    </form>
}

@section Scripts {
    <script>

        $(function () {
            $("#txtItemName").WaterMark();
        });

        function removeContent(contentId) {
            var choice = confirm("Are you sure you want to remove the item?");
            if (choice) {
                var objID = document.getElementById("RemoveContent_ContentId");
                if (objID) {
                    objID.value = contentId;
                }
                RemoveContentForm.submit();
            }
        }

    </script>
}
